In [2]:
import pandas as pd
import numpy as np

In [4]:
df=pd.read_csv(filepath_or_buffer=("./HRDataset_v14.csv"),sep=",",header=0).rename(columns=str.lower)
df.head()

,employee_name,empid,marriedid,maritalstatusid,genderid,empstatusid,deptid,perfscoreid,fromdiversityjobfairid,salary,...,managername,managerid,recruitmentsource,performancescore,engagementsurvey,empsatisfaction,specialprojectscount,lastperformancereview_date,dayslatelast30,absences
0,"Adinolfi, Wilson K",10026,0,0,1,1,5,4,0,62506,...,Michael Albert,22.0,LinkedIn,Exceeds,4.60,5,0,1/17/2019,0,1
1,"Ait Sidi, Karthikeyan",10084,1,1,1,5,3,3,0,104437,...,Simon Roup,4.0,Indeed,Fully Meets,4.96,3,6,2/24/2016,0,17
2,"Akinkuolie, Sarah",10196,1,1,0,5,5,3,0,64955,...,Kissy Sullivan,20.0,LinkedIn,Fully Meets,3.02,3,0,5/15/2012,0,3
3,"Alagbe,Trina",10088,1,1,0,1,5,3,0,64991,...,Elijiah Gray,16.0,Indeed,Fully Meets,4.84,5,0,1/3/2019,0,15
4,"Anderson, Carol",10069,0,2,0,5,5,3,0,50825,...,Webster Butler,39.0,Google Search,Fully Meets,5.00,4,0,2/1/2016,0,2

In [7]:
#dtypes muestra que tipo de datos tiene el dataframe
df.dtypes

employee_name                  object
empid                           int64
marriedid                       int64
maritalstatusid                 int64
genderid                        int64
empstatusid                     int64
deptid                          int64
perfscoreid                     int64
fromdiversityjobfairid          int64
salary                          int64
termd                           int64
positionid                      int64
position                       object
state                          object
zip                             int64
dob                            object
sex                            object
maritaldesc                    object
citizendesc                    object
hispaniclatino                 object
racedesc                       object
dateofhire                     object
dateoftermination              object
termreason                     object
employmentstatus               object
department                     object
managername                    object
managerid                     float64
recruitmentsource              object
performancescore               object
engagementsurvey              float64
empsatisfaction                 int64
specialprojectscount            int64
lastperformancereview_date     object
dayslatelast30                  int64
absences                        int64
dtype: object

In [8]:
df[["marriedid","perfscoreid"]]

     marriedid  perfscoreid
0            0            4
1            1            3
2            1            3
3            1            3
4            0            3
..         ...          ...
306          0            3
307          0            1
308          0            4
309          0            3
310          0            3

[311 rows x 2 columns]